* {
    font-family: 'Yeseva One', cursive;
}

h3 {
    text-align: center;
}

.background {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 0;
}

.seatRow {
    margin: 0 30px 30px 0;
    font-size: 23px;
    display: inline-block;
    min-width: 20px;
}

.ghe{
    border: 3px solid orange;
    width: 45px;
    height: 35px;
    font-size: 12px;
    margin: 0 10px 10px 0;
    border-radius: 5px;
}

.rowNumber{
    /* font-size: 25px; */
    width: 45px;
    height: 35px;
    background: none;
    border:none;
    margin: 0 20px;
    font-size: 23px;
}
.firstChar{
    color: yellow;
    font-size: 35px;
    margin-right: 15px;
}

.screen{
    background-color: rgba(255, 159, 95, 0.8);
    width:80%;
    font-size: 25px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

.gheDuocChon {
    border: 3px solid orange;
    background: orange;
    color: #000;
    cursor: no-drop !important;
    border-radius: 5px;
    width: 45px;
    height: 35px;
    margin: 0 10px 10px 0;

}

.gheDangChon {
    background: rgb(109, 238, 109);
    border: 3px solid rgb(109, 238, 109);
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    width: 45px;
    height: 35px;
    margin: 0 10px 10px 0;
}